body {
  background-image: url(http://orig01.deviantart.net/98e1/f/2012/363/6/1/sonic_green_hill_zone_blocks_background____free_by_derpychii-d5pkdal.png);
}

#bg-scroll {
  height: 600px;
  background: url(http://i.imgur.com/zi8pv3M.jpg);
  -webkit-animation: backgroundScroll 15s linear infinite;
  animation: backgroundScroll 15s linear infinite;
  background-repeat: no-repeat;
}

@-webkit-keyframes backgroundScroll {
  from {background-position: 0 0;}
  to {background-position: -5000px 0;}
}

@keyframes backgroundScroll {
  from {background-position: 0 0;}
  to {background-position: -5000px 0;}
}

.level-container {
  border: 5px solid blue;
  margin: 100px;
}
