.admin-content {
  background-image: url(http://orig13.deviantart.net/5c2c/f/2016/068/3/f/green_hill_zone_background_1_by_sonicmechaomega999-d9uisrx.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.start {
  text-align: center;
  margin: 100px 0;
}

.start-btn:hover {
  color: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
  animation: rainbow .25s infinite;
  text-decoration: none;
}

.start-btn:focus {
  text-decoration: none;
}

.start-btn {
  padding: 0 30px 10px 30px;
  border: 5px solid gold;
  font-size: 100px;
  font-family: "VT323", Helvetica, sans-serif;
  color: rgba(255,255,0,1);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-shadow: 5px 5px 0 rgba(255,0,0,1);
  background-color: #022AD4;
}

@keyframes rainbow {
  0%, 100% { color: #FF0000; }
  16.66% { color: #FFFF00; }
  33.33% { color: #00FF00; }
  50% { color: #00FFFF; }
  66.66% { color: #0000FF; }
  83.33% { color: #FF00FF; }
}

.rings {
  margin-top: 50px;
}
