.background {
  background-image: url("http://abduzeedo.com/sites/default/files/originals/s/screen_shot_2011-12-20_at_10.58.04_pm.png");
  background-size: cover;
  height: 100vh;
}

.displayName, .waiting {
  color: white;
}

.loader {
  text-align: center;
}

.info {

}
