.background {
  background-image: url("../../public/images/sanic-user-load.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.displayName, .waiting {
  padding-top: 20px;
  font-size: 20px;
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
  color: white;
}

.displayName {
  margin-top: 100px;
}

.logoutBtn {
  text-align: center;
}

.loader {
  text-align: center;
}

.info {}

@media (max-width: 450px) {
  .background {
    background-image: url("../../public/images/sanic-user-load-mobile.jpg");
  }

  .displayName, .waiting {
    padding-top: 20px;
    font-size: 20px;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
  }

  .logoutBtn {
    text-align: center;
    margin-top: 400px;
    margin-bottom: 40px;
  }
}
